
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<html ng-app="myApp">
<body>
    <div class="form-control" ng-controller="demoController">

        {{Val}}


    </div>




</body>
</html>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/MyApp.js"></script>
